/*-------------------------custom css for overwriting scss | css--------------------------*/
body{
  cursor: url(../img/cursor.png), default;
}
.header_area{z-index: 1040;}
.about-area .main-title h1 {
    color: #2e395a;
    font-size: 100px;
    font-weight: lighter;
    line-height: 1;
  font-family:"Karla","Chivo", "Roboto", sans-serif;
}
/*.about-area .container {
    max-width: 1400px !important;
}*/
.main-title h1{color: #2e395a}
.main-title p, p {
    font-size: 18px;
    color: #a0a2a7;
    font-weight: initial;
}
.nav-link,.fa,.owl-dot,.page_link,a,
a.navbar-brand{
	cursor: url(../img/cursor_pointer.png), default;
}
::selection {
  background: #c3d5f5; /* WebKit/Blink Browsers */
  color: #6187c9;
}
::-moz-selection {
  background: #c3d5f5; /* Gecko Browsers */
  color: #6187c9;
}
::-webkit-selection {
  background: #c3d5f5; /* Gecko Browsers */
  color: #6187c9;
}
::-ms-selection {
  background: #c3d5f5; /* Gecko Browsers */
  color: #6187c9;
}
p{font-size:20px;}
.footer_area{background-color: #374661;}
.header_area.navbar_fixed .main_menu,.projects_fillter{background-color: #c3d1eb;}
.header_area .navbar .nav .nav-item.submenu ul{background-color: #c3d1eb;}
.projects_fillter .filter:after{    background: #818fa9;}
.banner-content .primary-btn{background: #6187c9;}
.banner-content h1{color: #2e395a; width: 600px}
.far {
    font-weight: 400;
    color: #ffc000;
}
.copyright p {
    color: #ffffff;
    font-size: 16px;
}
.copyright p a {
    color: #ffdc60;
}
.section_gap {    padding: 80px 0;}
.Services_area .col-md-4 {
    margin-bottom: 2rem;
}
.img-fluid{
  /*float: left;*/
  margin-right: 20px;
}
.single-defination {
    width: auto;
    height: auto;
    /* border: solid #c3d5f5 2px; */
    padding: 20px;
    box-shadow: 0 0 0 1px #E2E9ED;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.single-defination:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.single-defination .img-icons1{
  width: auto;
  height: 100px;
  background-image: url(../img/services/brand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons2{
  width: auto;
  height: 100px;
  background-image: url(../img/services/web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons3{
  width: auto;
  height: 100px;
  background-image: url(../img/services/ads.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons4{
  width: auto;
  height: 100px;
  background-image: url(../img/services/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons5{
  width: auto;
  height: 100px;
  background-image: url(../img/services/coll.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons6{
  width: auto;
  height: 100px;
  background-image: url(../img/services/app.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons7{
  width: auto;
  height: 100px;
  background-image: url(../img/services/logodesign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons8{
  width: auto;
  height: 100px;
  background-image: url(../img/services/copyright.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons9{
  width: auto;
  height: 100px;
  background-image: url(../img/services/email.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons10{
  width: auto;
  height: 100px;
  background-image: url(../img/services/social.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons11{
  width: auto;
  height: 100px;
  background-image: url(../img/services/blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.single-defination .img-icons12{
  width: auto;
  height: 100px;
  background-image: url(../img/services/search.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.single-defination p{
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
}
.genric-btn.info{background: #6187c9;}
.footer_area{background-image: url(../img/map.png); background-repeat: no-repeat;background-size: cover; background-blend-mode: overlay; -moz-background-blend-mode: overlay; -webkit-background-blend-mode: overlay; -ms-background-blend-mode: overlay; -IE-background-blend-mode: overlay; }
/*.fa{color: #ffdc60;}*/
.testimonial_area .testimonial_logos .mid_logo {
    margin: 30px 0;
}
/*text typing animation.............................*/
.type_wrap {
  display: block;
  border: 4px solid #ecf0f1;
  width: 290px;
  height: auto;
  padding: 30px;
  
  /*centers it in the .banner*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.type_wrap h1 {
  display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.type-text::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.type-cursor{
   opacity: 0;
  display: none;
}


/*
 * 1. core styles
 */

.teamy{
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}

.teamy__layout{
    position: relative;
}

.teamy__preview{
    position: relative;
    overflow: hidden;
}

.teamy__avatar{
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.teamy__preview:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.teamy__back{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    opacity: 0;
    will-change: opacity;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.teamy:hover .teamy__back{
  opacity: 1;
  height: 100%;
  transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}

.teamy__name{
    margin-top: 0;
    margin-bottom: 0;
}

.teamy__post{
    display: block;
}
/*
 * 2. visual styles
 */

/* common styles for visual styles */

 .teamy__back{
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
 }

.teamy__content{
     padding: 20px;
     margin-bottom: 30px;
}

.teamy__name{
    font-size: 1.3em;
}

.teamy__post{
    margin-top: .5em;
    font-size: .8em;
    text-transform: uppercase;
}

/* style 1 */

.teamy_style1{
    text-align: center;
}

/* style 2 */

.teamy_style2 .teamy__content{
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.teamy_style2 .teamy__name{
    font-weight: 400;
}

/* style 2 */

.teamy_style3 .teamy__name{
    font-size: 2em;
}

/*
 * 3. masks
 */

/* mask circle */

.teamy_mask-circle .teamy__preview:before{
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;

    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.teamy_mask-circle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
}

/* mask triangle */

.teamy_mask-triangle .teamy__preview:before{
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
    clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

    transition-property: transform, opacity;
    transition-duration: .2s, .4s;
    transition-delay: .4s, 0s;
    transition-timing-function: ease-out;

    will-change: transform, opacity;
    transform: translate(-50%, -50%) scale(1);
}

.teamy_mask-triangle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(5);
    transition-delay: .1s, 0s;
    transition-duration: .4s;
}

/*
 * 4. animations for preview
 */

/* zoom */

.teamy_zoom-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1);
}

.teamy_zoom-photo:hover .teamy__avatar{
    transform: scale(1.2);
}

/* zoom and rotate */

.teamy_zoom-rotate-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) rotate(0);
}

.teamy_zoom-rotate-photo:hover .teamy__avatar{
    transform: scale(1.2) rotate(5deg);
}

/* zoom and slide */

.teamy_zoom-slide-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0);
}

.teamy_zoom-slide-photo:hover .teamy__avatar{
    transform: scale(1.2) translate(4%, 4%);
}

/*
 * 5. default skin
 */

.teamy__preview:before{
    background-color: rgba(72, 27, 174, .7);
}

.teamy_style2, .teamy_style3{
    color: #fff;
}

.teamy_style2 .teamy__content{
    background-color: rgba(72, 27, 174, .85);
}


/*
* demo page
*/

@media screen and (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px){

  html{
    font-size: 50%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #222;
  
  margin: 0;
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll;
}

:root{
    --colorBlack: #222;
    --colorWhite: #fff;
    --colorGray: #f0f0f0;

    --colorAlternative: #a03549;
    --colorAlternativeDark: #650813;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
}

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__demo{
  flex-grow: 1;
}

.footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;  
  font-size: 1.4rem;
}

.footer__link{
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 361px){

  .footer__container{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px){

  .melnik909{
    display: none;
  } 
}

/* layout */

.main-container{
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.section:nth-of-type(even){
  background-color: var(--colorGray);
}

.section__header{
  position: relative;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.section__header:before{
  content: "";
  width: 5rem;
  height: 3px;
  background-color: var(--colorAlternative);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section__title{
  font-size: 2.8rem;
}

.section__hint{
  font-size: 1.4rem;
  display: block;
  margin-top: 1rem;
}

.section__content{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (min-width: 641px){

  .section{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section__header{
    margin-bottom: 6rem;
  }

  .section__content{
    justify-content: center;
  }
}

@media screen and (max-width: 640px){

  .section{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section__header{
    margin-bottom: 3rem;
  }
}

/* options */ 

.radio{
    position: absolute;
    left: -9999px;
}

.preview-options{
    padding-top: 2rem;
}

.preview-options__container{
    display: flex;
    justify-content: center;
}

.preview-options__param{
    display: inline-block;
    cursor: pointer;
}

.preview-options__param:not(:last-child){
    margin-right: 1.5rem;
}

.preview-options__color:before{
    content: "";
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    border-radius: 50%;
}

.preview-options__color:after{
    content: "";
    width: 75%;
    height: 3px;
    display: block;
    margin: 1rem auto 0;
}

.preview-options__color_black:before,
#black:checked ~ .preview-options .preview-options__color_black:after{
    background-color: rgba(0, 0, 0, 1);
}

.preview-options__color_purple:before,
#purple:checked ~ .preview-options .preview-options__color_purple:after{
    background-color: rgba(72, 27, 174, 1);
}

.preview-options__color_blue:before,
#blue:checked ~ .preview-options .preview-options__color_blue:after{
    background-color: rgba(80, 126, 209, 1);
}

.preview-options__color_green:before,
#green:checked ~ .preview-options .preview-options__color_green:after{
    background-color: rgba(27, 188, 155, 1);
}

.preview-options__color_red:before,
#red:checked ~ .preview-options .preview-options__color_red:after{
    background-color: rgba(160, 53, 73, 1);
}

#black:checked ~ .section .teamy{
    --demoColorMask: rgba(0, 0, 0, .7);
    --demoColorContent: rgba(0, 0, 0, .85);
    --demoColorIcon: rgba(0, 0, 0, 1);
}

#blue:checked ~ .section .teamy{
    --demoColorMask: rgba(80, 126, 209, .7);
    --demoColorContent: rgba(80, 126, 209, .85);
    --demoColorIcon: rgba(80, 126, 209, 1);
}

#green:checked ~ .section .teamy{
    --demoColorMask: rgba(42, 155, 132, .7);
    --demoColorContent: rgba(42, 155, 132, .85);
    --demoColorIcon: rgba(42, 155, 132, 1);
}

#red:checked ~ .section .teamy{
    --demoColorMask: rgba(160, 53, 73, .7);
    --demoColorContent: rgba(160, 53, 73, .85);
    --demoColorIcon: rgba(160, 53, 73, 1);
}

/* demo params */

.teamy__preview:before{
    background-color: var(--demoColorMask, rgba(90, 117, 175, .7));
}

.teamy_style2 .teamy__content{
    background-color: var(--demoColorContent, rgba(255, 220, 96, .85));
}

/* social buttons */

.social{
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 10px;

    background-color: #fff;
    border-radius: 100%;

    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.social__icon{
    width: 100%;
    height: 100%;
    fill: rgba(72, 27, 174, 1);
    fill: var(--demoColorIcon, rgba(90, 117, 175, 1));  
}

.social__name{
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 640px){

    .preview-options{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--colorGray);
    }
}

@media screen and (min-width: 641px){

    .preview-options{
        background-color: var(--colorGray);
    }
}

/* grid */

.teamy-team{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 849px){

     .teamy{
         width: 25%;
     }
}

@media screen and (min-width: 425px) and (max-width: 848px){

     .teamy{
         width: 50%;
     }
}

@media screen and (max-width: 424px){

     .teamy{
         width: 100%;
     }

     .teamy:not(:first-child){
         margin-top: 3rem;
     }
}
/*================INSTAFEED style=========================*/
.instaimg{margin-bottom: 10px;}.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 100%;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect .rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  position: absolute;
}

.hovereffect hr {
  width: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect  hr:nth-child(2) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
}

.hovereffect h2, .hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.group1, .group2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.group1 {
  top: 40%;
}

.group2 {
  top: 60%;
}

.hovereffect p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 20px;
}

.group1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
}

.group1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
}

.group2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
}

.group2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
}

.hovereffect:hover hr:nth-child(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
}

.hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0) rotate(45deg) scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
/* 
for zoom animation 
uncomment this part if you haven't added this code anywhere else
*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*============= contact form =============================*/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7087c9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(93, 119, 172, .2);
}

.contact-form{
    background: #fff;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.form-control{font-size: 14px;}
.contact-form input{
  padding: 20px;
  font-size: 14px;
}

.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.nice-select.open .list{
  height: 200px !important;
  overflow: auto !important;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    z-index: 50;
    margin: 0;
}
.alert {
    position: relative;
     padding: 0; 
    margin-bottom: 1rem;
     border: none!important; 
    border-radius: .25rem;
}


@media (max-width: 991px) {
  .banner-area .fullscreen {
    height: 600px !important; } 
    .banner-content .last_h1{font-size: 50px;}
    .banner-content h1{font-size: 50px;}
  }

.banner-content {
  text-align: left;
  background: none!important;}
  @media (max-width: 1680px) {
    .banner-content {
      background: none!important;
      text-align: left; } 
      .banner-content .last_h1{font-size: 70px;}
      .banner-content h1{font-size: 70px;}
    }
    @media (max-width: 680px) {
      .banner-content {
        background: none!important;
        padding: 48px 20px;
        margin: 0 15px; 
      }
        .about-area .main-title h1{
          font-size: 50px;
        } 
        .col-5{
          flex: 0 0 50.666667%;
          max-width: 80.666667%;
        }
        .col-5 .banner-content h3 {
          font-size: 16px!important;
        }
        .banner-content .primary-btn {
          background: #6187c9;
          border: 2px solid transparent;
          color: #fff; }
          .banner-content .primary-btn:hover {
            background: transparent;
            border-color: ##2e395a;
            color: #000; }
            .banner-content h1 {
              color: #2e395a;
              font-weight: 900;
              margin-bottom: 20px;
              font-size: 40px;
              width: 150px;
              line-height: 1;
              font-family:"Chivo", "Roboto", sans-serif;
            }
            .banner-content .last_h1{font-size: 40px;}
            .banner-area .single_slide_banner {
              background-size: cover;
              background-repeat: no-repeat; }
              .banner-area .slide_bg1 {
                background: url(https://i.imgur.com/KpOIy00.jpg);background-repeat: no-repeat; 
                background-size: cover;
              }
              .banner-area .slide_bg2 {
                background: url(https://i.imgur.com/KWtcrA3.jpg); background-repeat: no-repeat;
                background-size: cover;
              }
              .banner-area .slide_bg3 {
                background: url(https://i.imgur.com/ThmoLD8.jpg); background-repeat: no-repeat;
                background-size: cover;
              }
              .banner-area .slide_bg4 {
                background: url(https://svgshare.com/i/At9.svg); background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
              }
              img.logo {
                width: 130px;
                height: 23px;
              }
              .submenu ul {
                background-color: #7e9bce!important;
                border: none;
              }

              .header_area .navbar .nav .nav-item.submenu ul .nav-item{
                border-bottom: 1px solid #2e395a;
              }
            }
    @media (max-width: 991px) {
      .banner-content h1 {
        font-size: 40px; } 
      .banner-content .last_h1{font-size: 50px;}
      .banner-content h1{font-size: 50px;}}
  .banner-content h3 {
    font-size: 30px;
    font-family:"Karla","Chivo", "Roboto", sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;}
    @media (max-width: 991px) {
      .banner-content h3 {
        font-size: 20px; } }

  @media (min-width: 1200px){
    .banner-content h1{
      font-size: 70px;
    }
    .banner-content .last_h1{
      font-size: 70px;
    }
  }

/* End Home Banner Area css
