nav#topmenu .full-menu-wrap .pricing-btn {
    margin-bottom: 48px;
}
nav#topmenu .full-menu-wrap .pricing-btn a.a-btn {
    text-transform: capitalize;
}

.slick-track img {
    padding: 15px;
    width: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    height: -moz-fill-available;
    object-fit: cover;
}
.slick-next:before, .slick-prev:before{
    color: #26366f !important;
}
#contact form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}


.badge .warning {
    color: #26386d !important;
    background-color: #fddd64 !important;
}


.mb-2{
    margin-bottom: 2px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-64{
    margin-bottom: 64px;
}

#footer * {
    list-style: none !important;
}
.sidebar-item ul li a {
    color: rgb(255 255 255 / 58%) !important;
}
/* ALL LOADERS */

.loader{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #3498db;
}

#loader-1:before{
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after{
    border: 10px solid #ccc;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
