/*font Variables*/

$primary-font:'Karla', 'Roboto',
sans-serif;
$title-font:'Karla', 'Poppins',
sans-serif;
/*Color Variables*/

$custom-color: #ffdc60;
$primary-color: #5280ae;
$primary-color2: #2b3e73;
$title-color: #222222;
$text-color: #777777;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');
